<nb-card>
    <nb-card-body class="matrixCard">
        <h5>Matrix Q</h5>
        <div class="matrix">
            <input
                type="number"
                nbInput
                placeholder="0"
                [status]="matrixQ1.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ1"
            />
            <input
                type="number"
                nbInput
                placeholder="1"
                [status]="matrixQ2.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ2"
            />
            <input
                type="number"
                nbInput
                placeholder="2"
                [status]="matrixQ3.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ3"
            />
            <input
                type="number"
                nbInput
                placeholder="3"
                [status]="matrixQ4.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ4"
            />
            <input
                type="number"
                nbInput
                placeholder="4"
                [status]="matrixQ5.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ5"
            />
            <input
                type="number"
                nbInput
                placeholder="5"
                [status]="matrixQ6.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ6"
            />
            <input
                type="number"
                nbInput
                placeholder="6"
                [status]="matrixQ7.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ7"
            />
            <input
                type="number"
                nbInput
                placeholder="7"
                [status]="matrixQ8.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ8"
            />
            <input
                type="number"
                nbInput
                placeholder="8"
                [status]="matrixQ9.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ9"
            />
            <input
                type="number"
                nbInput
                placeholder="9"
                [status]="matrixQ10.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ10"
            />
            <input
                type="number"
                nbInput
                placeholder="10"
                [status]="matrixQ11.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ11"
            />
            <input
                type="number"
                nbInput
                placeholder="11"
                [status]="matrixQ12.valid ? 'basic' : 'danger'"
                [formControl]="matrixQ12"
            />
        </div>
        <h5>Matrix R</h5>
        <div class="matrix">
            <input
                type="number"
                nbInput
                placeholder="0"
                [status]="matrixR1.valid ? 'basic' : 'danger'"
                [formControl]="matrixR1"
            />
            <input
                type="number"
                nbInput
                placeholder="1"
                [status]="matrixR2.valid ? 'basic' : 'danger'"
                [formControl]="matrixR2"
            />
            <input
                type="number"
                nbInput
                placeholder="2"
                [status]="matrixR3.valid ? 'basic' : 'danger'"
                [formControl]="matrixR3"
            />
            <input
                type="number"
                nbInput
                placeholder="3"
                [status]="matrixR4.valid ? 'basic' : 'danger'"
                [formControl]="matrixR4"
            />
            <input
                type="number"
                nbInput
                placeholder="4"
                [status]="matrixR5.valid ? 'basic' : 'danger'"
                [formControl]="matrixR5"
            />
            <input
                type="number"
                nbInput
                placeholder="5"
                [status]="matrixR6.valid ? 'basic' : 'danger'"
                [formControl]="matrixR6"
            />
            <input
                type="number"
                nbInput
                placeholder="6"
                [status]="matrixR7.valid ? 'basic' : 'danger'"
                [formControl]="matrixR7"
            />
            <input
                type="number"
                nbInput
                placeholder="7"
                [status]="matrixR8.valid ? 'basic' : 'danger'"
                [formControl]="matrixR8"
            />
        </div>
        <div class="buttons">
            <button
                type="submit"
                nbButton
                status="primary"
                (click)="sendNewValues()"
                [disabled]="!matrixQ.valid || !matrixR.valid"
            >
                Submit
            </button>
            <button nbButton status="basic" [disabled]="!matrixQ.valid || !matrixR.valid" (click)="openSaveDialog()">Save</button>
        </div>
    </nb-card-body>
</nb-card>
