<nb-card>
    <nb-card-body>
<!--        <form [formGroup]="lqrParamForm">-->

            <h5>
                Matrix Q
            </h5>
            <div class="matrix">

                <input type="text" nbInput placeholder="0" [status]="matrixQ1.valid ? 'basic' : 'danger'" [formControl]="matrixQ1"/>
                <input type="text" nbInput placeholder="1" [status]="matrixQ2.valid ? 'basic' : 'danger'" [formControl]="matrixQ2"/>
                <input type="text" nbInput placeholder="2" [status]="matrixQ3.valid ? 'basic' : 'danger'" [formControl]="matrixQ3"/>
                <input type="text" nbInput placeholder="3" [status]="matrixQ4.valid ? 'basic' : 'danger'" [formControl]="matrixQ4"/>
                <input type="text" nbInput placeholder="4" [status]="matrixQ5.valid ? 'basic' : 'danger'" [formControl]="matrixQ5"/>
                <input type="text" nbInput placeholder="5" [status]="matrixQ6.valid ? 'basic' : 'danger'" [formControl]="matrixQ6"/>
                <input type="text" nbInput placeholder="6" [status]="matrixQ7.valid ? 'basic' : 'danger'" [formControl]="matrixQ7"/>
                <input type="text" nbInput placeholder="7" [status]="matrixQ8.valid ? 'basic' : 'danger'" [formControl]="matrixQ8"/>
            </div>
            <h5>
                Matrix R
            </h5>
            <div class="matrix">
                <input type="text" nbInput placeholder="0" [status]="matrixR1.valid ? 'basic' : 'danger'" [formControl]="matrixR1"/>
                <input type="text" nbInput placeholder="1" [status]="matrixR2.valid ? 'basic' : 'danger'" [formControl]="matrixR2"/>
                <input type="text" nbInput placeholder="2" [status]="matrixR3.valid ? 'basic' : 'danger'" [formControl]="matrixR3"/>
                <input type="text" nbInput placeholder="3" [status]="matrixR4.valid ? 'basic' : 'danger'" [formControl]="matrixR4"/>
                <input type="text" nbInput placeholder="4" [status]="matrixR5.valid ? 'basic' : 'danger'" [formControl]="matrixR5"/>
                <input type="text" nbInput placeholder="5" [status]="matrixR6.valid ? 'basic' : 'danger'" [formControl]="matrixR6"/>
                <input type="text" nbInput placeholder="6" [status]="matrixR7.valid ? 'basic' : 'danger'" [formControl]="matrixR7"/>
                <input type="text" nbInput placeholder="7" [status]="matrixR8.valid ? 'basic' : 'danger'" [formControl]="matrixR8"/>
            </div>
            <button type="submit" nbButton status="primary" (click)="sendNewValues()" [disabled]="!matrixQ.valid || !matrixR.valid">
                Submit
            </button>
    </nb-card-body>
</nb-card>
