:host {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1rem;
}

app-debug-motors {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

app-auv3d-model {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

app-depth-meter {
    grid-column-start: 5;
}

app-pcb-temp-meter {
    grid-column-start: 6;
}

app-leak-sensor {
    grid-column-start: 6;
    grid-row-start: 2;
}

app-control-lqr-debug-info {
    grid-column: 5 / span 2;
    grid-row: 3 / span 5;
}
