<nb-card>
    <nb-card-body>
        <nb-toggle (checkedChange)="manualModeChange($event)" [checked]="manualMode">
            Manual mode
        </nb-toggle>
        <model-viewer
            #auv
            src="assets/auv_model-12-feb-2021.glb"
            alt="The 3D model for the AUV"
            interaction-prompt="none"
            camera-orbit="0deg 90deg 1m"
        ></model-viewer>
    </nb-card-body>
    <nb-card-footer>
        <label>
            Roll:
            <input type="number" nbInput [formControl]="roll" [status]="roll.valid ? 'basic' : 'danger'" nbTooltip="Scroll to roll that dick" (input)="updateOrientationFormCallback()" (wheel)="scrollRoll($event)"> degrees
        </label>
        <label>
            Pitch:
            <input type="number" nbInput [formControl]="pitch" [status]="pitch.valid ? 'basic' : 'danger'" nbTooltip="Scroll weed everyday" (input)="updateOrientationFormCallback()" (wheel)="scrollPitch($event)"> degrees
        </label>
        <label>
            Yaw:
            <input type="number" nbInput [formControl]="yaw" [status]="yaw.valid ? 'basic' : 'danger'" nbTooltip="Scroll over yaw dick" (input)="updateOrientationFormCallback()" (wheel)="scrollYaw($event)"> degrees
        </label>
    </nb-card-footer>
</nb-card>
