.section-header {
    background: var(--background-basic-color-3);
}

.topic-name {
    font-size: 0.75rem;
    opacity: 0.7;
    font-family: monospace;
}

.index {
    font-family: monospace;
    opacity: 0.6;
    width: 2rem;
}

.value {
    font-family: monospace;
}

.no-data {
    opacity: 0.4;
    font-style: italic;
}
