<nb-card [nbSpinner]="isUpdating">
    <nb-card-body>
        <div class="h4">
            A newer version of the Dashboard is available
        </div>
        <br/>
        Do you want to update the Dashboard version to the latest version?
    </nb-card-body>
    <nb-card-footer>
        <button class="updateButton" nbButton status="success" (click)="update()">Update</button>
        <button class="cancelButton" nbButton status="danger" (click)="close()">Cancel</button>
    </nb-card-footer>
</nb-card>
