nb-card-body {
    display: grid;
    grid-gap: 20px;
    place-items: center;
}

nb-card {
    width: 50%;
}

app-control-toggle {
    grid-column: 1;
}

app-control-state-display {
    grid-column: 2;
}
