nb-card-body {
    display: grid;
    grid-gap: 20px;
    place-items: center;
}

app-control-toggle {
    grid-column-start: 1;
    grid-column-end: 3;
}

app-control-state-display {
    grid-column-start: 3;
}
