<a (click)="toggleSidebar()" href="#">
    <img id="logo" src="assets/asuqtr-logo.png" />
</a>
<span class="toolbar-title"> ASUQTR Dashboard</span>
<button
    nbButton
    ghost
    shape="round"
    class="button"
    [nbSpinner]="!(rosbridgeConnected && gamepadConnected)"
    nbSpinnerStatus="info"
    [nbPopover]="popoverComponent"
    nbPopoverPlacement="bottom"
>
    <nb-icon
        class="statusIcon"
        [icon]="summaryStatusIcon"
        [status]="summaryIconColor"
        *ngIf="rosbridgeConnected && gamepadConnected"
    ></nb-icon>
</button>
