:host {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

app-debug-motors {
    grid-column-start: 1;
    grid-column-end: 5;
}

app-depth-meter {
    grid-column-start: 5;
}

app-pcb-temp-meter {
    grid-column-start: 6;
}
