<img [@bobSwift]="animationToggle" (@bobSwift.done)="onAnimationStart($event)" src="assets/bob-ross-cropped.png" alt="">
<nb-card>
    <nb-card-body>
        <h2>
            Oupsssssssss
        </h2>
        The page you're trying to reach does not exist. If you think this is not normal, please raise a ticket at <a href="https://jira.asuqtr.com/servicedesk/customer/portal/1" target="_blank">ASUQTR Jira Service Desk</a>
    </nb-card-body>
</nb-card>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
