:host {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    overflow: hidden;
}

nb-card {
    grid-column-start: 2;
    grid-row-start: 2;
}

img {
    z-index: 9000;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transform: translateX(-2500px) scale(0.65);
}
