<nb-card>
    <nb-card-body>
        <p class="h6">Change LQR Attenuation Factor</p>
        <label>
            <input nbInput number placeholder="Enter a number [0...1]" [formControl]="newAttenuationFactor" [status]="newAttenuationFactor.valid ? 'basic' : 'danger'">
        </label>
        <button nbButton status="primary" (click)="onClickAttenuationFactorSend()" [disabled]="!newAttenuationFactor.valid">
            <nb-icon
                icon="upload"
            ></nb-icon>
        </button>
    </nb-card-body>
</nb-card>
