.section-header {
    background: var(--background-basic-color-3);
}

.topic-name {
    font-size: 0.75rem;
    opacity: 0.7;
    font-family: monospace;
}

.label {
    font-family: monospace;
    opacity: 0.6;
    min-width: 8rem;
}

.value {
    font-family: monospace;
}
