nb-list-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

nb-card-body {
    margin: -1rem -1.5rem;
}

.col1 {
    grid-column-start: 1;
}

.col2 {
    grid-column-start: 2;
}

.col3 {
    grid-column-start: 3;
}

.col4 {
    grid-column-start: 4;
}

.lqrInfoTitle {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.loopTime {
    grid-column: 3 / span 2;
    grid-row: 1;
    justify-self: right;
    align-self: center;
}
