@import "../../../themes";

nb-list {
    margin: -1rem -1.5rem
}

nb-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    place-items: center;
}

@include nb-install-component {
    .value {
        color: nb-theme(text-basic-color);
    }

    .positive {
        color: nb-theme(text-success-color);
    }

    .negative {
        color: nb-theme(text-danger-color);
    }
}

.throttleCol {
    grid-column-start: 2;
}

.feedbackCol {
    grid-column-start: 3;
}

.errorCol {
    grid-column-start: 4;
}
