<nb-card>
    <nb-card-body>
        <p class="h6">Change LQR Threshold</p>
        <div class="col1">
            <span class="title">Position (cm)</span>
            <label>
                <input
                    nbInput
                    number
                    placeholder="Enter a number [0...&infin;]"
                    [formControl]="posThreshold"
                    [status]="posThreshold.valid ? 'basic' : 'danger'"
                />
            </label>
            <button
                nbButton
                status="primary"
                (click)="onClickPositionThresholdSend()"
                [disabled]="!posThreshold.valid"
                class="positionThreshold"
            >
                <nb-icon icon="upload"> </nb-icon>
            </button>
        </div>
        <div class="col2">
            <span class="title">Angle (°)</span>
            <label>
                <input
                    nbInput
                    number
                    placeholder="Enter a number [0...&infin;]"
                    [formControl]="angleThreshold"
                    [status]="angleThreshold.valid ? 'basic' : 'danger'"
                />
            </label>
            <button
                nbButton
                status="primary"
                (click)="onClickAngleThresholdSend()"
                [disabled]="!angleThreshold.valid"
                class="angleThreshold"
            >
                <nb-icon icon="upload"> </nb-icon>
            </button>
        </div>
    </nb-card-body>
</nb-card>
