<nb-card>
    <nb-card-body>
        <nb-list>
            <nb-list-item>
                <div class="h6 lqrInfoTitle">LQR Info</div>
                <div class="loopTime">
                    Loop time: {{ loopTime | async | number: '.3' }}s
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="subtitle col2">
                    State
                </div>
                <div class="subtitle col3">
                    Target State
                </div>
                <div class="subtitle col4">
                    Error
                </div>
            </nb-list-item>
            <nb-list-item *ngFor="let lqrAxe of lqrAxes; index as i;">
                <div *ngIf="i < 6">
                    Axis {{ i + 1 }} ({{ lqrAxe.paramName }})
                </div>
                <div *ngIf="i >= 6">
                    Speed {{ i - 5 }} ({{ lqrAxe.paramName }})
                </div>
                <div class="col2">{{ lqrAxe.state | number: '.3' }}</div>
                <div class="col3">{{ lqrAxe.targetState | number: '.3' }}</div>
                <div class="col4">{{ lqrAxe.error | number: '.3' }}</div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
